version: '3'



services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: laravel_app_new
    ports:
      - "8000:8000"
    volumes:
      - ../backend:/var/www
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel